*{
    padding: 0;
    margin: 0;
    
}
body{
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
}

/********************** HEADER ******************************/

header{
    height: 100vh;
    background: linear-gradient( black, rgb(0, 1, 10) , rgb(0, 0, 39));
}
h1{
    font-size: 40pt;
}
h2{
    font-size: 25pt;
}
p{
    font-size: 15pt;
}
#menu{
    height: 90px;
    width: 100vw;
    background-color: rgb(19, 19, 19, 50%);
    position: fixed;
    backdrop-filter: blur( 13.5px );
}
#opcoesmenu{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    width: 500px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
/*----------------ANIMAÇÃO ESTRELAS-------------*/

.stars{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    550px 100px white,
    750px 200px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    150px 100px white,
    320px 100px white;
    animation: anim-stars 20s linear infinite;
}
@keyframes anim-stars{
    from{
        transform: translateY(90vh);
    }
    to{
        transform: translateY(0vh);
    }
}

#apresentacao{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}
#ladoesquerdo{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50vw;
}
#espaconome{
    width: 30vw;
    text-align: left;
    height: 50%;
}
#titulo{
    margin: 10px auto;
}
#ladodireito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 50vw;
}
#foto{
    width: 25vw;
    margin-top: 5vh;
    border-radius: 50%;
}


/*********************** SOBRE MIM ******************************/

#sobremim{
    height: 100vh;
    background: linear-gradient( rgb(0, 0, 39), rgb(0, 1, 10) , black);
    text-align: center;
    align-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}
#textosobremim{
    margin-top: 50px;
}
.curriculo{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
    width: 150px;
    background-color: black;
    border: none;
    box-shadow: 0px 0px 1px white;
}

/*********************** TECNOLOGIAS ******************************/

#tecnologias{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
}
.espaco-tecnologi{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 15vh;
}

.div-tecnologia{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 1s;
}
.div-tecnologia:hover{
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    transition: 0.5s;
}
.img-tec{
    width: 30px;
    margin-right: 10px;
}
.title-tec{
    font-size: 12pt;
}

/*********************** PROJETOS ******************************/

#projetos{
   
    background: linear-gradient( black, rgb(0, 1, 10) , rgb(0, 0, 39));
    text-align: center;
    align-items: center;
}

.espaco-projetos{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    padding-bottom: 100px;
}
#title-projetc{
    margin-bottom: 150px;
}
.div-projeto{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 80vw;
    margin-bottom: 150px;
}
.text-projeto{
    width: 600px;
    display: block;
    align-items: center;
}
.title-text-project{
    font-size: 19pt;
    margin-bottom: 20px;
    color: rgb(151, 151, 151);
}
.links-deploy{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    font-size: 14pt;
}
.a-deploy{
    
    box-shadow: 0px 0px 3px white;
    padding: 5px;
    align-items: center;
}
.img-projeto{
    height: 400px;
    margin-top: -100px;
}
/*********************FOOTER******************************/

footer{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}