* {
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

body {
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;
}

/********************** ILUSTRAÇÕES GALAXIAS ******************************/

#galaxia1 {
    position: absolute;
    width: 800px;
    left: 5px;
    margin-top: -400px;
    z-index: 3;
}

#galaxia2 {
    position: absolute;
    width: 400px;
    right: 250px;
    margin-top: 0px;
    z-index: 3;
}

#galaxia3 {
    position: absolute;
    width: 500px;
    left: 5px;
    margin-top: 300px;
    z-index: 3;
}

#astronauta {
    position: absolute;
    left: 15px;
    width: 400px;
    top: 40vh;
}

#estrelas {
    position: absolute;
    width: 800px;
    margin-top: -200px;
    z-index: 3;
    right: 0px;
}

/********************** HEADER ******************************/

header {
    position: relative;
    height: 100vh;
    background: linear-gradient(black, rgb(0, 1, 10), rgb(0, 0, 39));
    overflow: hidden;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 25pt;
}

p {
    font-size: 15pt;
}

#menu {
    height: 90px;
    width: 100vw;
    background-color: rgb(19, 19, 19, 50%);
    position: fixed;
    backdrop-filter: blur(13.5px);
    z-index: 30;
}

#opcoesmenu {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.links-social{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 35px;
}
.icone-social{
    width: 50px;
}
i{
    font-size: 50px;
}
/*----------------ANIMAÇÃO BOLHAS--------------*/

.bolhas {
    position: absolute;
    z-index: 0;
    display: flex;
}

.bolhas span {
    height: 5px;
    width: 5px;
    background: #f4ff95;
    margin: 0px 14px;
    border-radius: 50%;
    box-shadow: 0 0 5px 4px #efff5ece;
    animation: animar calc(200s / var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px 4px #ffffffc5;
}

/*****************************************************/

#apresentacao {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

}

#ladoesquerdo {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50vw;
}

#espaconome {
    width: 30vw;
    text-align: left;
    height: 50%;
    z-index: 2;
}

#titulo {
    margin: 10px auto;
    z-index: 2;
}

#ladodireito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 50vw;
}

#foto {
    width: 25vw;
    margin-top: 5vh;
    border-radius: 50%;
    z-index: 2;
}


/*********************** SOBRE MIM ******************************/

#sobremim {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
    text-align: center;
    align-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

#textosobremim {
    margin-top: 50px;
}
#div-button{
    z-index: 30;
}
.curriculo {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
    width: 150px;
    background-color: black;
    border: none;
    box-shadow: 0px 0px 1px white;
    z-index: 60;
}

/*********************** TECNOLOGIAS ******************************/

#tecnologias {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.espaco-tecnologi {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 15vh;
    z-index: 10;
}

.div-tecnologia {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    transition: 1s;
    z-index: 20;
}

.div-tecnologia:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.5s;
}

.img-tec {
    width: 30px;
    margin-right: 10px;
}

.title-tec {
    font-size: 12pt;
}

/*********************** PROJETOS ******************************/

#projetos {
    padding-top: 100px;
    background: linear-gradient(black, rgb(0, 1, 10), rgb(0, 0, 39));
    text-align: center;
    align-items: center;
}

.espaco-projetos {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}

#title-projetc {
    margin-bottom: 150px;
}

.div-projeto {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 90vw;
    margin-bottom: 150px;
}

.text-projeto {
    width: 500px;
    display: block;
    align-items: center;
    text-align: left;
}

.title-text-project {
    font-size: 19pt;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

p {
    color: #bdbdbd;
}

.links-deploy {
    display: flex;
    height: 70px;
    align-items: center;
    font-size: 12pt;
}

.a-deploy {
    margin: 5px;
    box-shadow: 0px 0px 3px white;
    padding: 5px;
    align-items: center;
}

.img-projeto {
    height: 400px;
    margin-top: -100px;
}

/*********************FOOTER******************************/

footer {
    height: 100px;
    background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}



/****************************************************************************
***********************************************************************
**********************************************
************************
****    RESPONSIVIDADE 1
*/


@media only screen and (max-device-width: 1100px) {
    h1 {
        font-size: 25pt;
    }

    h2 {
        font-size: 15pt;
    }

    p {
        font-size: 13pt;
    }
}


/****************************************************************************
***********************************************************************
**********************************************
************************
****    RESPONSIVIDADE 2
*/

@media only screen and (max-device-width: 900px) {

    #menu {
        height: 60px;
        width: 100vw;
        background-color: rgb(19, 19, 19, 50%);
        position: fixed;
        backdrop-filter: blur(13.5px);
        z-index: 30;
    }
    
    #opcoesmenu {
        margin-top: 30px;
        margin-left: 0px;
        font-size: 11pt;
        display: flex;
        justify-content: space-around;
        width: 100vw;
    }

    #apresentacao {
        display: block;
        padding-top: 200px;
    }

    #ladoesquerdo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #espaconome {
        width: 80vw;
        text-align: left;
        height: 80%;
    }

    #ladodireito {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 90vw;
    }

    #foto {
        width: 55vw;
        margin-top: 5vh;
        border-radius: 50%;
        z-index: 2;
    }

    /********************** ILUSTRAÇÕES GALAXIAS ******************************/

    #galaxia1 {
        position: absolute;
        width: 250px;
        left: 5px;
        margin-top: -150px;
        z-index: 2;
    }

    #galaxia2 {
        position: absolute;
        width: 100px;
        right: 0px;
        margin-top: -90px;
        z-index: 3;
    }

    #galaxia3 {
        position: absolute;
        width: 70vw;
        left: 5px;
        margin-top: 600px;
        z-index: 3;
    }

    #astronauta {
        position: absolute;
        left: auto;
        right: 5px;
        width: 150px;
        top: 70px;
    }

    #estrelas {
        position: absolute;
        width: 80vw;
        left: 0px;
        margin-top: 0px;
    }

    /**********************************************************/
    #div-button{
        z-index: 100;
    }
    .curriculo {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14pt;
        padding: 4px;
        width: 150px;
        background-color: black;
        border: none;
        box-shadow: 0px 0px 1px white;
        z-index: 300;
    }
/**********************************************************/
    #tecnologias {
        height: 100vh;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
    }

    .espaco-tecnologi {
        margin-top: 70px;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 0%;
        height: 60vh;
    }

    .div-tecnologia {
        background-color: rgb(0, 0, 0);
        display: flex;
        padding-top: auto;
        margin: 10px;
        padding-bottom: auto;
        height: 70px;
        width: 150px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
        transition: 1s;
    }

    .div-tecnologia:hover {
        box-shadow: 0px 0px 2px rgb(255, 255, 255);
        transition: 0.5s;
    }

    .img-tec {
        width: 30px;
        margin-right: 10px;
    }

    .title-tec {
        font-size: 12pt;
    }

    #title-section-tec {
        position: absolute;
    }

    /************************************************************/
    #sobremim {
        height: 100vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #textosobremim {
        margin-top: 50px;
        font-size: 11pt;
    }

    /************************************************************/
    #title-projetc {
        margin-bottom: 100px;
    }

    .div-projeto {
        display: block;
        justify-content: center;
        height: 400px;
        width: 90vw;
        margin-bottom: 150px;
    }

    .text-projeto {
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
    }

    .title-text-project {
        font-size: 19pt;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    p {
        color: #bdbdbd;
    }

    .links-deploy {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        font-size: 12pt;
    }

    .a-deploy {
        margin: 5px;
        box-shadow: 0px 0px 3px white;
        padding: 5px;
        align-items: center;
    }

    .img-projeto {
        height: auto;
        width: 80vw;
        margin-top: -50px;
    }

    footer {
        height: 80px;
    }
    #Copyright{
        font-size: 10pt;
    }
}