/****************************************************************************
***********************************************************************
**********************************************
************************
****    RESPONSIVIDADE 1
*/


@media only screen and (max-device-width: 1100px) {
    h1 {
        font-size: 25pt;
    }

    h2 {
        font-size: 15pt;
    }

    p {
        font-size: 13pt;
    }
}


/****************************************************************************
***********************************************************************
**********************************************
************************
****    RESPONSIVIDADE 2
*/

@media only screen and (max-device-width: 900px) {
    .menu {
        height: 65px;
        background-color: rgba(173, 173, 173, 0.233);
    }

    #opcoesmenu {
        margin-top: 10px;
        margin-left: 0px;
        font-size: 9pt;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        width: 100vw;
    }

    .links-social {
        display: flex;
        justify-content: space-around;
        width: 150px;
        height: 50px;
        right: 10px;
        top: 35px;
    }

    .icone-social {
        width: 25px;
    }

    #apresentacao {
        display: block;
        padding-top: 150px;
    }

    #ladoesquerdo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

    #espaconome {
        width: 80vw;
        text-align: left;
        height: 80%;
    }

    #h2-titulo {
        font-size: 15pt;
    }

    .ctas {
        display: flex;
        flex-direction: row;
    }

    .btn_cta {
        font-size: 11pt;
    }

    .curriculo {
        font-size: 11pt;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #ladodireito {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: right;
        width: 97vw;
        height: 200px;
    }

    #foto {
        width: 50vw;
        height: auto;
        margin-top: 5vh;
    }

    /********************** ILUSTRAÇÕES GALAXIAS ******************************/

    #galaxia1 {
        position: absolute;
        width: 250px;
        left: 5px;
        margin-top: -350px;
        z-index: 2;
    }

    #galaxia2 {
        position: absolute;
        width: 100px;
        right: 10px;
        margin-top: -150px;
        z-index: 3;
    }

    #galaxia3 {
        position: absolute;
        width: 70vw;
        left: 5px;
        margin-top: 600px;
        z-index: 3;
    }

    #astronauta {
        left: 20px;
        width: 35vw;
        animation: astro 4s linear infinite;
    }

    @keyframes astro {
        0% {
            top: 65vh;
        }

        25% {
            top: 63vh;
        }

        50% {
            top: 58vh;
        }

        75% {
            top: 62vh;
        }

        100% {
            top: 65vh;
        }
    }

    #estrelas {
        position: absolute;
        width: 80vw;
        left: 0px;
        margin-top: 0px;
    }

    /**********************************************************/
    #div-button {
        z-index: 100;
    }

    .textosobremim {
        font-size: 12pt;
    }

    .curriculo {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14pt;
        padding: 4px;
        width: 150px;
        background-color: black;
        border: none;
        box-shadow: 0px 0px 1px white;
        z-index: 300;
    }

    /**********************************************************/
    #tecnologias {
        height: 70vh;
        background-color: rgb(0, 0, 0);
        justify-content: center;
        text-align: center;
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
    }

    .espaco-tecnologi {
        margin-top: 70px;
        display: block;
        justify-content: center;
        align-items: center;
        gap: 0%;
        height: 60vh;
    }

    .div-tecnologia {
        background-color: rgb(0, 0, 0);
        display: flex;
        padding-top: auto;
        margin: 10px;
        padding-bottom: auto;
        height: 60px;
        width: 140px;
        align-items: center;
        justify-content: center;
        transition: .5s;
    }

    .div-tecnologia:hover {
        transform: translateY(-10px);
    }

    .img-tec {
        width: 30px;
        margin-right: 10px;
    }

    .title-tec {
        font-size: 12pt;
    }

    #title-section-tec {
        position: absolute;
    }

    /************************************************************/
    #sobremim {
        height: 100vh;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    #textosobremim {
        margin-top: 50px;
        font-size: 11pt;
    }

    /************************************************************/
    .projetos {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        background: linear-gradient(black, rgb(0, 1, 10), rgb(0, 0, 39));
        text-align: center;
        align-items: center;
    }

    #title-projetc {
        margin-bottom: 100px;
        font-size: 14pt;
    }

    .div-projeto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 550px;
        width: 400px;
        padding: 10px;
        margin-bottom: 100px;
        box-shadow: white 0px 0px 5px;
        border-radius: 10px;
    }

    .text-projeto {
        width: 100%;
        display: block;
        align-items: center;
        text-align: center;
    }

    .title-text-project {
        font-size: 19pt;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    .img-projeto {
        width: 90%;
        margin-bottom: -30px;
    }

    p {
        color: #bdbdbd;
    }

    .links-deploy {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        font-size: 12pt;
    }

    .a-deploy {
        margin: 5px;
        box-shadow: 0px 0px 3px white;
        padding: 5px;
        align-items: center;
    }

    #title-projetc {
        margin-bottom: 100px;
    }

    .div-projeto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 430px;
        width: 100%;
        margin-bottom: 50px;
    }

    .text-projeto {
        width: 95%;
        font-size: 12pt;
        height: 300px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        padding-left: 10px;
    }

    .title-text-project {
        font-size: 17pt;
        margin-bottom: 10px;
        color: rgb(255, 255, 255);
    }



    .img-projeto {
        height: 250px;
        margin-top: -60px;
    }

    /************************************************************************************
*********************************SERVIÇOS********************************************
*************************************************************************************/

    .servicos {
        background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: space-around;
        overflow: hidden;
    }

    .div-servicos {
        width: 97vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .servico {
        width: 48%;
        height: 250px;
        padding: 2px;
        border-radius: 10px;
        box-shadow: 0px 0px 2px white;
        transition: 2s;
        z-index: 12;
        margin-bottom: 10px;
    }


    .titulo-imagem-servico {
        background-color: #002f86;
        border-radius: 10px;
        display: flex;
        height: 80px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }

    .imagem-servico {
        height: 35px;
    }

    .h2-servico {
        font-size: .8em;
        width: 140px;
    }

    .p-servicos {
        font-size: 9pt;
    }

    .container-feedbacks {
        gap: 5px;
        height: 80vh;
        padding: 5px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 400px;
        margin-top: 100px;
        display: flex;
        position: relative;
        flex-direction: inherit;
        justify-content: space-around;
        overflow: hidden;
    }

    .card {
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        padding: 10px;
        width: 40%;
    }

    /* Estrelas */
    .starsfd {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .feedback-text {
        line-height: 1.5;
        margin-bottom: 10px;
        font-size: 0.7rem;
    }

    .author-info {
        padding-top: 10px;
    }

    .name {
        display: block;
        font-weight: bold;
        color: #333;
        font-size: 1rem;
    }

    .company {
        display: block;
        color: #888;
        font-size: 0.7rem;
        margin-top: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    /******************************************************************************************/

    h3{
        font-size: 20pt;
    }
    .space-form {
        width: 250px;
    }

    footer {
        height: 80px;
    }

    #Copyright {
        font-size: 10pt;
    }
}