*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    background: #000000;
    color: #fff;
}

/* =========================================================================================
===================================== ANIMAÇÃO NO SCROLL ===================================
============================================================================================
*/

section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2.5s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transition: all 2.5s;
    transform: translateX(0);
}

.apresentacao{
    display: flex;
    justify-content: center;
}



/* =========================================================================================
============================== APRESENTAÇÃO DO HEADER  =====================================
============================================================================================
*/
.eu{
    position:absolute;
    opacity: 0.7;
    left: 0;
    width: 50%;
}

.hidden{
    height: 110vh;
}

.nome{
    position: absolute;
    font-size: 15vh;
    right: 10vh;
    margin-top: 25vh;
}
.dev{
    position: absolute;
    font-size: 10vh;
    right: 10vh;
    margin-top: 40vh;
    color: #b9b9b9;
}

.links{
    position: absolute;
    margin-top: 70vh;
    right: 100px;
}

.link img{
    opacity: 0.5;
    width: 8vh;
    transition: 1s;
    
}
.link img:hover{
    opacity: 1;
}

/* =========================================================================================
============================ ESPAÇO SOBRE MIM E CURRICULO===================================
============================================================================================
*/

.sobremim{
    width: 80vh;
    height: 60vh;
    font-size: 5vh;
    margin-top: 30vh;
}
.espaco_curriculo{
    margin-top: 30vh;
    margin-left: 20vh;
    text-align: center;
    width: 40vh;
    height: 50vh;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.curriculo{
    margin-top: 10px;
    width: 40vh;
    height: 40vh;
    transition: 0.5s;
}
.curriculo:hover{
    margin-top: 0;
    opacity: 0.3;
}
.legendacurriculo{
    margin-top: -20vh;
    font-size: 17pt;
}




/* =========================================================================================
================================= CONHECIMENTOS  ===========================================
============================================================================================
*/

.tituloConhecimentos{
    font-size: 4em;
    position: absolute;
    margin-top: 40px;
}

.conhecimentos{
    display: flex;
    justify-content: center;
    background-color: #272727;
    width: 100%;
}

.conhecimento{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #272727;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    margin: 30vh 1%;
    width: 8vw;
    height: 8vw;
    transition: 0.5s;
}
.conhecimento:hover{
    background-color: #3b3b3b;
    margin: 29vh 1%;
}

.imgconhecimento{
    padding: 5px;
    position: relative;
    width: 5vw;
    height: 5vw;
}
legend{
    position: absolute;
    margin-top: 6vw;
}

.estudando{
    position: absolute;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
    bottom: 0;
}

.estudoconhecimento{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: #272727;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    width: 8vw;
    height: 8vw;
    transition: 0.5s;
    margin: 80px 2%;
}
.estudoconhecimento:hover{
    background-color: #3b3b3b;
    margin: 76px 2%;
}
.tituloestudando{
    position: absolute;
    font-size: 3em;

}
/*|||||||||||||||||||||||||||| TITULO PROJETOS ||||||||||||||||||||||||||||||||*/

.tituloProjetos{
    position: absolute;
    font-size: 5em;
}

/* =========================================================================================
============================ ANIMAÇÃO DOS CARDS  ===========================================
============================================================================================
*/


.container{
    width: 100%;
    position: relative;
    display: flex;
    gap: 20px;
    justify-content:space-between;
    margin-top: 80px;
    flex-wrap: wrap;
    z-index: 1;
    padding: 10vh;
}
.container .card{
    position: relative;
    width: 34vh;
    height: 54vh;
    margin: 2vh;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.imgcard{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 160%;
    transition: 0.5s;
}
.imgcard:hover{
    opacity: 0;
}

.linkcard{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    /*color: rgba(61, 61, 61, 0.5);*/
    opacity: 0.1;
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    z-index: 3;
}

.container .card .content p{
    font-size: 1em;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* =========================================================================================
==================================== FORMULÁRIO  ===========================================
============================================================================================
*/

form{
    background-color: #272727;
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    padding: 10vh;
    border-radius: 25px;
    border: solid 1px rgb(114, 114, 114);
}

.tituloFormulario{
    position: absolute;
    font-size: 3em;
}
label{
    margin: 15vh 3vh;
}
#textarea{
    position: absolute;
    margin-top: 27vh;
    border-radius: 10px;
}

.enviar{
    position: absolute;
    bottom: 42vh;
    width: 10vh;
    height: 5vh;
    border-radius: 15px;
    transition: 0.5s;
    border: solid 2px rgb(0, 0, 0);
}
.enviar:hover{
    background-color: #000;
    border: solid 2px rgb(255, 255, 255);
    color: white;
}
/* =========================================================================================
======================================== RODAPÉ  ===========================================
============================================================================================
*/

footer{
    height: 100px;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
}
#rodape{
    margin-top: 40px;
}








/* 
  ==========================================================================================================================================================
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||RESPONSIVIDADE A DIFERENTES TAMANHOS DE TELA||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
  ==========================================================================================================================================================
*/


@media screen and (max-width: 800px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        min-height: 100vh;
        background: #000000;
        color: #fff;
    }
    
    /* =========================================================================================
    ===================================== ANIMAÇÃO NO SCROLL ===================================
    ============================================================================================
    */
    
    section{
        display: flex;
        justify-content: center;
        min-height: 130vh;
    }
    
    header{
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }
    
    .hidden{
        opacity: 0;
        filter: blur(15px);
        transition: all 2.5s;
        transform: translateX(-100%);
    }
    .show{
        opacity: 1;
        filter: blur(0);
        transition: all 2.5s;
        transform: translateX(0);
    }
    
    .apresentacao{
        display: flex;
        justify-content: center;
    }
    
    
    
    /* =========================================================================================
    ============================== APRESENTAÇÃO DO HEADER  =====================================
    ============================================================================================
    */
    .eu{
        position:absolute;
        opacity: 0.7;
        left: 0;
        bottom: 10%;
        width: 80%;
        height: 60%;
        margin-top: 30vw;
    }
    
    .hidden{
        height: 110vh;
    }
    
    .nome{
        position: absolute;
        font-size: 12vw;
        right: 10vw;
        margin-top: 10vh;
    }
    .dev{
        position: absolute;
        font-size: 7vw;
        right: 10vw;
        margin-top: 20vh;
        color: #b9b9b9;
    }
    
    .links{
        position: absolute;
        display:grid;
        margin-top: 50vh;
        right: 7vw;
    }
    
    .link img{
        opacity: 1;
        width: 8vh;
        transition: 1s;
        
    }
    
    
    /* =========================================================================================
    ============================ ESPAÇO SOBRE MIM E CURRICULO===================================
    ============================================================================================
    */
    
    .sobremim{
        width: 60vw;
        height: 60vw;
        font-size: 5vw;
        margin-top: 10vh;
    }
    .espaco_curriculo{
        position: absolute;
        margin-top: 70vh;
        text-align: center;
        width: 40vw;
        height: 50vw;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    .curriculo{
        
        width: 40vw;
        height: 40vw;
    }
    .legendacurriculo{
        margin-top:0vh;
        font-size: 6vw;
    }
    
    
    
    
    /* =========================================================================================
    ================================= CONHECIMENTOS  ===========================================
    ============================================================================================
    */
    
    .tituloConhecimentos{
        font-size: 7vw;
        position: absolute;
        margin-top: 40px;
    }
    
    .conhecimentos{
        display: flex;
        justify-content: center;
        background-color: #272727;
        width: 100%;
    }
    
    .conhecimento{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15%;
        background-color: #272727;
        box-shadow: 2px 2px 10px rgb(0, 0, 0);
        margin: 28vh 1%;
        width: 15vw;
        height: 16vw;
        transition: 0.5s;
    }
    .conhecimento:hover{
        background-color: #3b3b3b;
        margin: 25vh 1%;
    }
    
    .imgconhecimento{
        padding: 0;
        position: relative;
        width: 9vw;
        height: 9vw;
    }
    legend{
        position: absolute;
        margin-top: 12vw;
        font-size: 3vw;
    }
    
    .estudando{
        position: absolute;
        display: flex;
        justify-content: center;
        height: 50vh;
        width: 100%;
        bottom: 10vh;
    }
    
    .estudoconhecimento{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15%;
        background-color: #272727;
        box-shadow: 2px 2px 10px rgb(0, 0, 0);
        width: 8vw;
        height: 8vw;
        transition: 0.5s;
        margin: 80px 2%;
    }
    .estudoconhecimento:hover{
        background-color: #3b3b3b;
        margin: 76px 2%;
    }
    .tituloestudando{
        position: absolute;
        font-size: 7vw;
    
    }
    /*|||||||||||||||||||||||||||| TITULO PROJETOS ||||||||||||||||||||||||||||||||*/
    
    .tituloProjetos{
        position: absolute;
        font-size: 8vw;
        margin-top: 2vh;
    }
    
    /* =========================================================================================
    ============================ ANIMAÇÃO DOS CARDS  ===========================================
    ============================================================================================
    */
    
    
    .container{
        width: 100%;
        position: relative;
        display: flex;
        gap: 0px;
        justify-content:space-between;
        margin-top: 10vh;
        flex-wrap: wrap;
        z-index: 1;
        padding: 1vw;
        
    }
    .container .card{
        position: relative;
        width: 35vw;
        height: 60vw;
        margin: 2vh;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
    
    .container .card .content{
        padding: 20px;
        text-align: center;
        transform: translateY(0px);
        opacity: 1;
        transition: 0.5s;
    }
    
    .container .card:hover .content{
        transform: translateY(0px);
        opacity: 1;
    }
    
    .imgcard{
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 160%;
        transition: 0.5s;
        opacity: 0.1;
    }
    .imgcard:hover{
        opacity: 0;
    }
    
    .linkcard{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .container .card .content h2{
        position: absolute;
        top: 0vw;
        right: 3%;
        font-size: 12vw;
        /*color: rgba(61, 61, 61, 0.5);*/
        opacity: 0.3;
        pointer-events: none;
    }
    
    .container .card .content h3{
        font-size: 4vw;
        z-index: 3;
        color: rgb(175, 175, 142);
    }
    
    .container .card .content p{
        font-size: 3.5vw;
        font-weight: 300;
    }
    
    .container .card .content a{
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: #fff;
        color: #000;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    
    /* =========================================================================================
    ==================================== FORMULÁRIO  ===========================================
    ============================================================================================
    */
    
    form{
        background-color: #272727;
        width: 90vw;
        height: 70vh;
        display: flex;
        margin-top: 20vh;
        justify-content: center;
        padding: 10vw;
        border-radius: 25px;
        border: solid 1px rgb(114, 114, 114);
    }
    
    .tituloFormulario{
        position: absolute;
        font-size: 10vw;
    }
    label{
        width: 60vw;
        margin: 15vw 0;
    }
    #foneid{
        width: 35vw;
    }
    #nomeid{
        width: 35vw;
    }
    #textarea{
        position: absolute;
        margin-top: 27vh;
        width: 70vw;
        border-radius: 10px;
    }
    
    .enviar{
        position: absolute;
        bottom: 41vh;
        width: 10vh;
        height: 5vh;
        border-radius: 15px;
        transition: 0.5s;
        border: solid 2px rgb(0, 0, 0);
    }
    .enviar:hover{
        background-color: #000;
        border: solid 2px rgb(255, 255, 255);
        color: white;
    }
    /* =========================================================================================
    ======================================== RODAPÉ  ===========================================
    ============================================================================================
    */
    
    footer{
        height: 100px;
        background-color: #1b1b1b;
        display: flex;
        justify-content: center;
    }
    #rodape{
        margin-top: 40px;
    }
}