*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #000000;
    color: #fff;
}

/* =========================================================================================
===================================== ANIMAÇÃO NO SCROLL ===================================
============================================================================================
*/

section{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2s;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transition: all 2s;
    transform: translateX(0);
}

.apresentacao{
    display: flex;
    justify-content: center;
}



/* =========================================================================================
============================ IMAGEM DE CAPA COM ANIMAÇÃO ===================================
============================================================================================
*/
.caixa{
    margin-top: 5%;
    position: absolute;
    width: 60vh;
    height: 60vh;
    background: #1b1b1b;
    border-radius: 50%;
    overflow: hidden;
    left: 10vh;
}

.caixa::before{
    content: '';
    position: absolute;
    background: linear-gradient(315deg, #fbff00, #008192);
    inset: -10px 140px;
    animation: animar 4s linear infinite;
    transition: 1s;
}

@keyframes animar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.caixa:hover::before{
    inset: -20px 0px;
}

.caixa::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: #8a8a8a;
    border-radius: 50%;
    z-index: 1;
}

.conteudo{
    position: absolute;
    inset: 20px;
    border: 6px solid #000000; 
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    user-select: none;
}

.conteudo img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 1s;
    pointer-events: none;
    
}

.caixa:hover .conteudo img{
    opacity: 0;
}

.conteudo h2{
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.conteudo h2 span {
    font-weight: 300;
    font-size: .75em;
}

.conteudo > span{
    font-size: 2.5em;
}

.conteudo a{
    margin-top: 10px;
    background: #fff;
    padding: 10px 20px;
    color: #6b6b6b;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
    border-radius: 25px;
}

.conteudo a:hover{
    letter-spacing: .2em;
}

/* =========================================================================================
============================== APRESENTAÇÃO DO HEADER  =====================================
============================================================================================
*/
.nome{
    position: absolute;
    font-size: 15vh;
    right: 15vh;
    margin-top: 10vh;
}
.dev{
    position: absolute;
    font-size: 10vh;
    right: 60vh;
    margin-top: 25vh;
    color: #b9b9b9;
}

.links{
    position: absolute;
    margin-top: 50vh;
}

.link img{
    opacity: 0.5;
    width: 80px;
    transition: 1s;
}
.link img:hover{
    opacity: 1;
}

/* =========================================================================================
============================ ANIMAÇÃO DAS TECNOLOGIAS  =====================================
============================================================================================


.card{
    height: 200px;
    background-color: #272727;
    border-radius: 10px;
    margin: 5px;
}

.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container :nth-child(2){
    transition-delay: 400ms;
}
.container :nth-child(3){
    transition-delay: 700ms;
}
.container :nth-child(4){
    transition-delay: 1000ms;
}

*/

/*|||||||||||||||||||||||||||| TITULO PROJETOS ||||||||||||||||||||||||||||||||*/

.tituloProjetos{
    position: absolute;
    font-size: 7em;
}

/* =========================================================================================
============================ ANIMAÇÃO DOS CARDS  ===========================================
============================================================================================
*/


.container{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    /*background-image: url(img/projetos/crud_spring.png);*/
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}


.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}


.container .card .content h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(61, 61, 61, 0.5);
    pointer-events: none;
}

.container .card .content h3{
    font-size: 1.8em;
    z-index: 1;
}

.container .card .content p{
    font-size: 1em;
    font-weight: 300;
}

.container .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}