* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'FonteTitulo';
    src: url('static/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

body,
.div-tecnologia,
.pag-ini,
#textosobremim,
#menu,
#sobremim,
#tecnologias,
#projetos {
    transition: background-color 1s ease, color 1s ease;
}

body {
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    color: white;
    font-family: monospace;

    /*transition: background 0.2s linear;*/
}

/********************** ILUSTRAÇÕES GALAXIAS ******************************/

#galaxia1 {
    position: absolute;
    width: 800px;
    left: 5px;
    margin-top: -400px;
    z-index: 0;
}

#galaxia2 {
    position: absolute;
    width: 400px;
    right: 250px;
    margin-top: 0px;
    z-index: 1;
}

#galaxia3 {
    position: absolute;
    width: 500px;
    left: 5px;
    margin-top: 300px;
    z-index: 3;
}

#astronauta {
    position: absolute;
    left: 15px;
    width: 400px;
    top: 40vh;
    animation: astro 3s linear infinite;
}

@keyframes astro {
    0% {
        top: 40vh;
    }

    25%{
        top: 38vh;
    }

    50%{
        top: 36vh;
    }

    75%{
        top: 38vh;
    }

    100% {
        top: 40vh;
    }
}

#estrelas {
    position: absolute;
    width: 800px;
    margin-top: -200px;
    z-index: 3;
    right: 0px;
}

/********************** HEADER ******************************/

header {
    position: relative;
    height: 120vh;
    background: linear-gradient(black, rgb(0, 1, 10), rgb(0, 0, 39));
    overflow: hidden;
    color: white;
}


h1 {
    font-size: 40pt;
    font-family: 'FonteTitulo';
}


.barra-titulos {
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 10px;
    background-color: #f4ff95;
    display: block;
    transition: width 0.5s ease;
}

h1.barra-titulos:hover {
    width: 100px;
    transition: width 1s ease;
}

h2 {
    font-size: 25pt;
}

p {
    font-size: 15pt;
}

.menu {
    height: 90px;
    width: 100vw;
    background-color: rgba(173, 173, 173, 0.233);
    position: fixed;
    backdrop-filter: blur(13.5px);
    z-index: 30;
}

#opcoesmenu {
    margin-top: 50px;
    margin-left: 50px;
    font-size: 14pt;
    display: flex;
    justify-content: space-between;
    width: 560px;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.menu-link {
    border: none;
    color: white;
    transition: 1s;
}
.menu-link:hover{
    border-top: solid 1px #3c91ff;
    border-bottom: solid 1px #3c91ff;
    color: #ffffff;
    transition: 1s;
}

.links-social {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    position: absolute;
    right: 250px;
    top: 35px;
}

.icone-social {
    width: 50px;
    transition: 1s;
}
.icone-social:hover {
    width: 48px;
    transition: 1s;
}


.link-icone{
    border-radius: 50%;
    transition: 1s;
    background-color: #002f8600;
}
.link-icone:hover{
    transition: 1s;
    top: 20px;
}

/*----------------ANIMAÇÃO BOLHAS--------------*/

.bolhas {
    position: absolute;
    z-index: 0;
    display: flex;
}

.bolhas span {
    height: 3px;
    width: 3px;
    background: #f4ff95;
    margin: 0px 14px;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px #efff5ece;
    animation: animar calc(200s / var(--i)) linear infinite;
}

@keyframes animar {
    0% {
        transform: translateY(120vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.bolhas span:nth-of-type(even) {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 5px 4px #ffffffc5;
}

/*****************************************************/

#apresentacao {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
}

#ladoesquerdo {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50vw;
}

#espaconome {
    width: 80%;
    text-align: left;
    height: 300px;
    z-index: 2;
}

#h2-titulo {
    color: #26bfd8;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 2;
    font-size: 22pt;
    width: 460px;

    border-right: 10px solid #f4ff95;
    white-space: nowrap;
    overflow: hidden;
    animation: mark .5s step-end infinite, write 6s steps(50, end) infinite;
}

/***********ANIMAÇÃO DIGITANDO NO TITULO**********************/

@keyframes mark {
    50% {
        border-right-color: transparent;
    }
}

@keyframes write {
    0% {
        width: 0;
    }

    20% {
        width: 26ch;
    }

    70% {
        width: 26ch;
    }

    85% {
        width: 0;
    }

    100% {
        width: 0;
    }
}




/*****************************************************************/


#textoapresentacao {
    text-align: left;
}

#ladodireito {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 50vw;
}

#foto {
    height: 25vw;
    width: 25vw;
    margin-top: 5vh;
    border-radius: 50%;
    z-index: 2;
}


/*********************** SOBRE MIM ******************************/

.sobremim {
    height: 80vh;
    background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
    text-align: center;
    align-content: baseline;
    padding-left: 20vw;
    padding-right: 20vw;
}

.textosobremim {
    margin-top: 50px;
    color: #ffffff;
}

#div-button {
    z-index: 30;
}

.curriculo {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14pt;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 1px white;
    z-index: 60;
    transition: 1s;
}

.curriculo:hover {
    transition: 1s;
    background-color: #3c91ff;
}

/*********************** TECNOLOGIAS ******************************/

.tecnologias {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.espaco-tecnologi {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    height: 15vh;
    z-index: 10;
}

.div-tecnologia {
    display: flex;
    padding-top: auto;
    padding-bottom: auto;
    height: 70px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    transition: 2s;
    z-index: 20;
}

.div-tecnologia:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.5s;
}

.img-tec {
    width: 30px;
    margin-right: 10px;
}

.title-tec {
    font-size: 12pt;
}

/*********************** PROJETOS ******************************/

.projetos {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background: linear-gradient(black, rgb(0, 1, 10), rgb(0, 0, 39));
    text-align: center;
    align-items: center;
}

.espaco-projetos {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 100px;
}

#title-projetc {
    margin-bottom: 150px;
}

.div-projeto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 700px;
    margin-bottom: 100px;
    box-shadow: white 0px 0px 8px;
    border-radius: 10px;
}

.text-projeto {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}

.title-text-project {
    font-size: 19pt;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

strong {
    color: #3c91ff;
}

p {
    color: #bdbdbd;
}

.links-deploy {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    align-items: center;
    font-size: 12pt;
}


.a-deploy {
    margin: 5px;
    box-shadow: 0px 0px 3px white;
    padding: 5px;
    align-items: center;
    transition: 1s;
}

.a-deploy:hover {
    background-color: #003363;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.img-projeto {
    height: 350px;
}

/************************************************************************************
*********************************SERVIÇOS********************************************
*************************************************************************************/

.servicos {
    background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
    overflow: hidden;
}

.div-servicos {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.servico {
    width: 340px;
    height: 340px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px white;
    transition: 2s;
    z-index: 12;
}

.luz-servicos {
    position: absolute;
    width: 150px;
    z-index: 1;
    animation: luzserv 20s linear infinite;
}

@keyframes luzserv {
    0% {
        left: 0vw;
        opacity: 0;
        bottom: 10px;
        transform: rotate(-40deg);
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        left: 90vw;
        opacity: 0;
        bottom: 500px;
        transform: rotate(100deg);
    }
}



.titulo-imagem-servico {
    background-color: #002f86;
    border-radius: 10px;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.imagem-servico {
    height: 70px;
}

.h2-servico {
    font-size: 2em;
    width: 240px;
}






/*********************FOOTER******************************/

footer {
    height: 100px;
    background: linear-gradient(rgb(0, 0, 39), rgb(0, 1, 10), black);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}



